@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root {
    --laranja-claro: rgb(209, 69, 69);
}

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: var(--laranja-claro);
}

.nav-img {
    width: 15%;
}

.nav{
    --bs-nav-link-color: #ff55b5;
    --bs-nav-link-hover-color: #ff55b5;
}

section {
    padding-bottom: 5rem;
}


.nav-link {
    color: #ffffff;
    font-weight: 600;
}

.form-group{
    color: #ff4583;
}

.inicio-fundo {
    /* aula 3 */
    background-color: var(--laranja-claro);
    /* Substitua pelo caminho da sua imagem */
    background-size: cover;
    background-position: right;
    border-radius: 80px;
    width: 100%;
    height: 606px;
    padding: 40px;
    margin: 0 auto;
}

/* posicionamento para a imagem à direita */
.img-inicio {
    position: absolute;
    right: 0;
    top: 18rem;
    width: 45rem;
    height: auto;
}


.esquerda-conteudo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.botao-inicio {
    background-color: #a32929;
    border-radius: 30px;
    border: none;
    width: 14em;
    /* Convertido para em aumenta o tamanho da fonte por tabela*/
    height: 3em;
    /* Convertido para em */
    align-content: center;

}

.display-4 {
    text-shadow: -5px 5px #a32929;
}


#tropicalia {
    position: relative;
    padding-top: 5rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: url('img/Lightstick.png') top right no-repeat,
        url('img/Lightstick.png') bottom left no-repeat;
    background-size: 180px 180px;
    /* Ajuste o tamanho conforme necessário */
}

#tropicalia .container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    /* Garante que o conteúdo fica acima das imagens do background */
}


h2 {
    font-family: 'Lemon', serif;
    font-size: 2.5em;
    font-style: normal;
    color: var(--laranja-claro);
}

#galeria {
    background-color: #FAF4F4;

}



#contato {
    background-color: var(--laranja-claro);
    background-size: cover;
    padding: 4rem 0;
    /* Espaçamento interno para a seção de contato */

}

.formulario {
    background-color: #ffffff;
    padding: 2rem;
    /* Espaçamento interno dentro do formulário */
    border-radius: 10px;
    /* Borda arredondada para o formulário */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra suave para destacar o formulário */
    font-weight: bold;
}

.formulario button {
    background-color: #a32929;
    border: none;
    font-weight: bold;
}

/* chama classe do bootstrap para modificar a cor */
.form-control {
    background-color: #F1EDEF;
}

.btn:hover {
    color: #ffffff;
    background-color: #ff4583;
    border-color: #ff4583;
}


#aumentar-fonte {
    border: #a32929;
    background-color: #a32929;
}

#diminuir-fonte {
    border: #a32929;
    background-color: #a32929;
}

.menu-acessibilidade {
    position: fixed;
    top: 2rem;
    right: 28px;
    z-index: 1000;
}

.rotacao-botao {
    transform: rotate(-90deg);
    transform-origin: right center;
}

.opcoes-acessibilidade {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.opcoes-acessibilidade button {
    margin-bottom: 5px;
}

.apresenta-lista{
    display: none;
}

#botao-acessibilidade{
    border: #a32929;
    background-color: #a32929;
}